body{
	background-color: #AED6F1;
}
#header{
	/*border:2px solid red;*/
	margin: 2%;
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius:4%;
}
#header>img{
    height: 9%;
    width:5%;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 2px black;
}
#nav{
	/*border:2px solid green;*/
	background-color:#AED6F1;
	height: 20%;
	margin:2%;
	width: 30%;
	border-radius: 4%;
	text-align: center;
	padding: 1%;
	display: flex;
	justify-content: space-around; 

}
#main{
	/*border:2px solid blue;*/
	display: flex;
	justify-content: space-around;
	border-radius: 4%;
	padding: 1%;
	margin:2%;
	background-color: white;
	height:80%;
}
#article{
	/*border:2px solid tomato;*/
	display: flex;
	justify-content: space-around;
	margin:2%;
	border-radius: 4%;
	background-color: white;
	flex-wrap: wrap;
	width:60%; 
}
section{
	/*border:2px solid blue;*/
	text-align: center;
	border-radius: 4%;
	box-shadow: 2px 2px 2px 2px black;
	width:30%;
	margin:1%;
}
img{
	height:90%;
	width: 90%;
	margin:1%;

}
#footer{

	/*border:2px solid red;*/
	display: flex;
	justify-content: space-around;
	border-radius: 7%;
	background-color: white;
	margin:2%;
}
/*mobile view*/
@media screen and (min-width: 320px) and (max-width: 680px){
	/*body{
		background-color: red;
	}*/
	#header{
		display: inline-block;
		width: 96%;
		text-align: center;
	}
	#main{
		display: inline-block;
		width: 96%;
}
.side{
	width: 96%;
}
#article{
	width: 96%;
}
.section{
	width: 80%;
}
#header img{
	height: 10%;
	width: 20%;
}
#nav{
	width: 92%;
	height: 20%;
}
a{
	background-color: white;
}
p{
	font-size: 25px;
}
}